@font-face {
    font-family: 'vodafone_exb';
    src: url('C://wamp/www/vodafone-bestrong/assets/fonts/vodafoneexb-webfont.eot');
    src: url('C://wamp/www/vodafone-bestrong/assets/fonts/vodafoneexb-webfont.eot?#iefix') format('embedded-opentype'),
         url('C://wamp/www/vodafone-bestrong/assets/fonts/vodafoneexb-webfont.woff2') format('woff2'),
         url('C://wamp/www/vodafone-bestrong/assets/fonts/vodafoneexb-webfont.woff') format('woff'),
         url('C://wamp/www/vodafone-bestrong/assets/fonts/vodafoneexb-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vodafone_lt';
    src: url('C://wamp/www/vodafone-bestrong/assets/fonts/vodafonelt-webfont.eot');
    src: url('C://wamp/www/vodafone-bestrong/assets/fonts/vodafonelt-webfont.eot?#iefix') format('embedded-opentype'),
         url('C://wamp/www/vodafone-bestrong/assets/fonts/vodafonelt-webfont.woff2') format('woff2'),
         url('C://wamp/www/vodafone-bestrong/assets/fonts/vodafonelt-webfont.woff') format('woff'),
         url('C://wamp/www/vodafone-bestrong/assets/fonts/vodafonelt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vodafone_rg';
    src: url('C://wamp/www/vodafone-bestrong/assets/fonts/vodafonerg-webfont.eot');
    src: url('C://wamp/www/vodafone-bestrong/assets/fonts/vodafonerg-webfont.eot?#iefix') format('embedded-opentype'),
         url('C://wamp/www/vodafone-bestrong/assets/fonts/vodafonerg-webfont.woff2') format('woff2'),
         url('C://wamp/www/vodafone-bestrong/assets/fonts/vodafonerg-webfont.woff') format('woff'),
         url('C://wamp/www/vodafone-bestrong/assets/fonts/vodafonerg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vodafone_rgbold';
    src: url('C://wamp/www/vodafone-bestrong/assets/fonts/vodafonerg_bd-webfont.eot');
    src: url('C://wamp/www/vodafone-bestrong/assets/fonts/vodafonerg_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('C://wamp/www/vodafone-bestrong/assets/fonts/vodafonerg_bd-webfont.woff2') format('woff2'),
         url('C://wamp/www/vodafone-bestrong/assets/fonts/vodafonerg_bd-webfont.woff') format('woff'),
         url('C://wamp/www/vodafone-bestrong/assets/fonts/vodafonerg_bd-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}